{%  extends "mainHeader.html" %}
{% block body %} 
<!-- <h1 class="about_text">about web elements</h1>
<h1>Ritesh Surange</h1>
 -->  <div class="service_section layout_padding">
        <div class="container">
            <h1 class="about_text">Welcome To Bidding Zone</h1>
            <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq</p>
            <div class="service_section_2">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="icon_1"><img src="../static/images/icon-1.png"></div>
                        <h1 class="website_text">website element</h1>
                        <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliq</p>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="icon_1"><img src="../static/images/icon-2.png"></div>
                        <h1 class="website_text">applicatinos element</h1>
                        <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliq</p>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="icon_1"><img src="../static/images/icon-3.png"></div>
                        <h1 class="website_text">design element</h1>
                        <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliq</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

{% endblock %}
