{%  extends "header/bidderHeader.html" %}
{% block body %} 
<!-- <h1 class="about_text">about web elements</h1>
<h1>Ritesh Surange</h1>
 -->  
 <!-- <div class="service_section layout_padding"> -->
    <div class="contact_section layout_padding" style="background-color: whitesmoke;">
        <div class="container" >

            <h1 class="about_text" style="color:blue;">Welcome Bidder</h1>

            <hr/>
            

                <div class="row">
                    <div  class="col-sm-12 col-lg-12" align="right">
                        <h2>Welcome: <u>{{session['fname']}}</u></h2>     
                    </div>
                </div>
                <div class="contact_section layout_padding" style="background-color: whitesmoke;"></div><div class="contact_section layout_padding" style="background-color: whitesmoke;">
                <br/>
            </div>
        </div>
    </div>
</div>
 

{% endblock %}
