{% extends "header/sellerHeader.html" %} {% block body %}
<div class="contact_section layout_padding"
    style="background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                       <h1 class="about_text" style="color: blue;">View Upload Products </h1>
            </div>
        </div>
        <!-- <div class="service_section_2"> -->
        <hr />
        <div class="row">


            <div class="col-md-1" align="center">
               
            </div>
           <div class="col-md-10">
          {% if products %}

          <table class="table table-bordered">
            <tr>
              <th>Sr.No</th>
              <th>Category</th>
              <th>Product Name</th>
              <th>Specification</th>
              <th>Image</th>
              <th>Bidding Date</th>
              <th>BasePrice</th>
              <th>Operation</th>
            </tr>

            {% for product  in products %}
            
            <tr>
              <td>{{ loop.index }} </td>
              <td>{{product[1]}}</td>
              <td>{{product[2]}}</td>
              <td>{{product[3]}}</td>
              <td><img src="../static/products/{{product[4]}}" style="width:100px;height: 100px;"></img> </td>
              <td>{{product[6]}} &nbsp; To &nbsp; {{product[7]}}</td>
              <td>{{product[5]}}</td>
              <td><a href="{{ url_for('seller_delete_product', id=product[0] )}}" style="color: blue;"> Delete Products</td>

            </tr>
             {% endfor %}
           </table>
           {% endif %}
            <div class="col-md-1" align="center">
               
            </div>
            
        </div>
        <br />
    </div>
</div>
</div>
</div>


{% endblock %}
